* {
  margin: 0;
  padding: 0;
  font-family: Clarkson-BookProduct;
  border: none;
}
@font-face {
  font-family: Clarkson-BookProduct;
  src: url(resources/Clarkson-BookProduct.otf);
}
.sqsp-logo {
  position: absolute;
  width: 180px;
  left: 33px;
  top: 35px;
}
.login-bg {
  width: 100%;
  height: 100%;
  background-image: url("resources/SQSP_Upload_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.reg-box {
  position: absolute;
  width: 278px;
  height: 334px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#reg-form {
  width: 88%;
}
#upload-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #000000;
  border-radius: 50%;
  border: none;
}
.title-font {
  font-size: 22px;
  line-height: 100%;
  color: #000000;
}
.sub-title-font {
  margin-top: 3px;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
}

#password,
#confirm_password,
#project-name {
  display: block;
  height: 30px;
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #000000;
}
.btns {
  display: block;
  background: #000000;
  border-radius: 40px;
  height: 51px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
#submit-btn {
  margin-top: 30px;
  width: 100%;
}
.upload-text {
  display: inline-block;
  margin-left: 12px;
}
.cross-line-btn {
  color: white;
  height: 2px;
  width: 14px;
}

.upload-div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
[v-cloak] {
  display: none;
}
